{% extends "baseLayout.html" %}
{% block body %}
    <form action="/adminLogin" method="post">
        <input autofocus autocomplete="off" name="userName" placeholder="Enter userName" type="text"/>
        <span style="padding-left: 20px" ></span>
        <input autofocus autocomplete="off" name="password" placeholder="Enter password" type="password"/>
        <br /> <br />
        <button type="submit"> Login </button>
        <span style="padding-left: 20px" ></span>
        <button type="reset"> Clear Contents </button>
    </form>

{% endblock %}